#
# A sample set of config variables for the render-all.sh script
# Uses the bash variable format, that is then injected with the 'source' command

DISTRO_DIR=/install                             
SCRIPTS_DIR=$DISTRO_DIR/install-scripts		# you can reuse pre-defined variables

DB_SERVER=odb
DB_SERVER_PORT=1521
DB_ADMIN=system
DB_SERVICE_NAME_USED=false
